
.dealer-scroll{
    margin-left: 0;
    overflow-x: auto;
    max-width: 100%;
}
.dealer-table {
  width: 100%;
  border-collapse: collapse;
}
.dealer-table thead tr {
  border-bottom: 1px solid #E5E7EB;
  background: #ffffff;
}

.dealer-table th {
  padding: 11px 16px;
  text-align: left;
  font-size: 12.5px;
  font-weight: 500;
  white-space: nowrap;
}


.dealer-th-plus {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: 1.5px solid #9CA3AF;
  border-radius: 4px;
  font-size: 15px;
  color: #6B7280;
  cursor: pointer;
  line-height: 1;
}


.dealer-table tbody tr {
  border-bottom: 1px solid #F3F4F6;
  transition: background 0.12s;
  font-weight: 300;
}

.dealer-table tbody tr:last-child {
  border-bottom: none;
}

.dealer-table tbody tr:hover {
  background: #F2F2F2;
}



.dealer-table td {
  padding: 8px;
  color: #374151;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 300;
}


.dealer-td-id {
  font-weight: 600;
  color: #111111;
}


.dealer-badge {
  display: inline-block;
  padding: 3px 12px;
  font-size: 12px;
  font-weight: 500;
}

.dealer-badge--active {
  background: #84D8CA;
  color: #000;
}

.dealer-badge--inactive {
  background: #F29386;
  color: black;
}

.dealer-btn-view {
  padding: 5px 13px;
  font-size: 12px;
  font-weight: 700;
  border: 1.5px solid ;
  border-color: #D9D9D6;
  background: #ffffff;
  color: #111111;
  cursor: pointer;
  white-space: nowrap;
}

.dealer-btn-view:hover {
  background: #000;
  color:#fff;

}



